<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DatabasePath" value="C:/SantaMaria/DatabaseBackup/"/>  
    <add key="LogsPath" value="C:/SantaMaria/Logs/"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="SantaMaria.DAL.Properties.Settings.SantaMaria" connectionString="Data Source=AGUSNOTE\SQLEXPRESS;Initial Catalog=SantaMaria;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>