<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <configSections>
      </configSections>
      <connectionStrings>
            <clear />
            <add name="SantaMaria.DAL.Properties.Settings.SantaMaria" connectionString="Data Source=AGUSNOTE\SQLEXPRESS;Initial Catalog=SantaMaria;Integrated Security=True"
                  providerName="System.Data.SqlClient" />
      </connectionStrings>  
</configuration>